@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    width: 100%;
  }
  body {
    background-color: var(--secondary);
    overflow-x: hidden;
    font: 14px;
    font-family: Rajdhani, serif;
  }
  :root {
    --navBarBg: rgba(41, 98, 145, 0.199);
    --heroBelt: radial-gradient(farthest-corner, rgba(16, 0, 43, 0.4), rgba(72, 12, 168, 0.8));
    --buddhaSection: linear-gradient(90deg, rgba(36, 0, 70, 1) 5%, rgba(16, 0, 43, 0.99) 50%, rgba(36, 0, 70, 1) 95%);
    --primaryBootstrap: rgb(13, 110, 253);
    --primary: #4361ee;
    --secondary: #3f37c9;
    --footerCyan: #00b4d8;
    --paleBlack: #191919;
    --paleWhite: #f7f6fb;
    --leftNavbar: #5e3ee0;
    --darkPurple: #3a0ca3;
    --blueSchedule: #3f37c9;
  }
  .fitIMG,
  .fitIMG img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    border: none;
  }
}

@layer base {
  * {
    @apply border-border;
  }
}
